body {
    margin: 20px;
}

.box {
    padding: 70px;
    height: 50px;
    margin-bottom: 20px;
}

header {
    background-color: gold;
    border: 2px solid black
}

main {
    background-color: lightgray;
    border: 2px black solid;
    text-align: center;
}

footer {
    background-color: deepskyblue;
    border: 2px black solid
}