header {
    background-color: gold;
    padding: 70px;
    height: 80px;
    text-align: left;
    border: 2px black solid;

}

main {
    background-color: lightgray;
    padding: 70px;
    height: 80px;
    text-align: center;
    border: 2px black solid;
}

footer {
    background-color: deepskyblue;
    padding: 70px;
    height: 80px;
    text-align: left;
    border: 2px black solid;
}