.container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.header {
    background: gold;
    display: flex;
    height: 70px;
    border: 1px black solid;
    padding: 25px;
    

}

.yellow-head1 {
     display: flex;
    border: 1px solid black;
    width: 1 px;
    flex-grow: 1;
    background-color: rgb(31, 164, 253);
}

.yellow-head {
    display: flex;
    justify-content: flex-end;
    flex: 7;

}




.pink-boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px;


}



.pink1,
.pink2,
.pink3,
.pink4 {
    border: black 1px solid;
}


.middle {
    display: flex;
    gap: 10px;

}

.box {
    width: 80px;
    height: 50px;
    background: hotpink;


}


.aside {
    background: #cfcfcf;
    flex-grow: 2;
    border: 1px black solid;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 30px;


}

.title {
    font-size: x-large;
color: red;
}

 

.main {
    background-color: rgb(60, 235, 60);
    flex-grow: 6;
    height: 300px;
    border: 1px black solid;
    margin-top: 15px;
    margin-bottom:30px;
    width: 50%;
    padding: 25px;
}
.box-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    background-color: antiquewhite;
}
.main {
    display: flex;
}

.box-img {
    display: flex;
    flex-grow: 4
}

.box-text {
    display: flex;
    flex-grow: 7;
    width: 20%;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: deepskyblue;
    height: 93px;
    border: 1px black solid;
    padding: 25px;
    text-align: center;
    
}

.box-foot2, .box-foot3, .box-foot4 {
    width: 15%;
    border: black 1px solid;
    align-items: center;
    color: beige;
    padding: 10px;
     background-color: rgb(60, 235, 60);
     padding-top: 30px;


}

.box-foot1 {
    width: 15%;
    border: black 1px solid;
    align-items: center;
    color: beige;

}